/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    color: blanchedalmond;
    font-size: larger;
    font-weight:bolder;
    font-family:monospace;

    

    background: linear-gradient(rgb(182, 106, 182), rgb(201, 75, 201), rgb(133, 27, 133), rgb(93, 7, 93));
}

.whole{
    padding: 30px;
    background-color: rgb(133, 8, 133);

    border-radius: 15px;
    border-color: rgb(34, 87, 133);
    border-width: 14px;
    
}

#submit{
    font-size: large;
    font-weight: bolder;
    font-family: 'Rubik Broken Fax', system-ui;
    font-family: 'Rubik Doodle Shadow', system-ui;
    border-radius: 15px;
    border-color: rgb(51, 3, 83);;
    border-width: 4px;
    color: rgb(51, 3, 83);
}

.password_container{
    font-family: 'Rubik Broken Fax', system-ui;
    font-family: 'Rubik Doodle Shadow', system-ui;
} */














/* FONTS IMPORT */

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
  }
  
  /* CSS VARIABLES */
  :root {
    --bg-color: #0b0e2f;
    --card-bg-color: #1e2140;
    --input-bg-color: #2c305a;
    --deep-text-color: #737691;
    --btn-color: #202557;
  }
  
  /* BODY */
  body {
   background: linear-gradient(-45deg, #320d01, #801941, #3a3082, #0b4c16);
    background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .box {
    background-color: var(--card-bg-color);
    background: linear-gradient(-45deg, #250c04, #312127, #1d3e2a, #120b4c);
    animation: gradient 15s ease infinite;
    width: 100%;
    max-width: 800px;
    height: 590px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .password-box-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .box-title {
  /*   animation: alternate-reverse;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px; */
    
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #000);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  
  .password-box-title {
    color: var(--deep-text-color);
    font-size: 20px;
    margin-top: 30px;
    text-transform: uppercase;
  }
  
  .password-box {
    background-color: var(--input-bg-color);
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 60px;
    border-radius: 60px;
  }
  
  .settings-text {
    color: var(--deep-text-color);
    margin: 30px 30px;
    text-transform: uppercase;
  }
  
  .include-box-area {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  
  .include-box {
    background-color: var(--input-bg-color);
    max-width: 500px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: white;
    transition: 0.3s;
    align-items: center;
    text-transform: uppercase;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .include-box:hover {
    max-width: 650px;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 20px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px 2px;
  }
  
  .include-box:active {
    max-width: 600px;
    transition: 0.1s;
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 20px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px 2px;
  }
  
  .fa-face-angry {
    margin-right: 15px;
  }
  .fa-face-laugh-squint {
    margin-right: 15px;
  }
  .fa-face-tired {
    margin-right: 15px;
  }
  
  .settings-text{
    text-align: center;
    
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }